main {
  padding: 5rem 0;
}

.imgbox {
  text-align: center;
  margin: 0 0 1.25rem;
}

.imgbox > img {
  width: 6.25rem;
}

.section {
  max-width: 680px;
  margin: 0 auto;
  padding: 1.25rem 0.9375rem;
}

.title {
  text-align: center;
  font-size: 32px;
  margin: 0 0 1.25rem;
}
